<!DOCTYPE html>
<html lang="sr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title || 'EMS Studio' %></title>
  <meta name="description" content="<%= description || 'EMS i wellness tretmani' %>">

  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min1.css" rel="stylesheet">
  <link href="/css/new.css" rel="stylesheet">
  <!-- Custom CSS -->
  <!-- <link href="/css/style.css" rel="stylesheet"> -->
</head>

<body>